<div class="container">
    <div class="row">
        <div class="col-md-12">
           
        </div>
    </div>
    <div class="row">
        <div class="col-md-5" id="phoneImage">
            <img src="~/images/phone-book.png" class="w-100" />
        </div>
        <div class="col-md-7">
            <table id="tablo" class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th>İsim</th>
                        <th>Soyisim</th>
                        <th>Firma Adı</th>
                        <th>İncele</th>
                        <th>Sil</th>
                    </tr>
                </thead>
                <tbody id="tBody">
                </tbody>
            </table>
        </div>
    </div>
</div>



<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addPersonModal">
    İletişim Bilgileri
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="addPersonModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close reloadContact" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <div class="table-responsive">
                    <table id="tableContact" class="table table-hover">
                        <thead>
                            <tr>
                                <th>Adı</th>
                                <th>Telefon Numarası</th>
                                <th>Mail</th>
                                <th>Adres</th>
                                <th>Sil</th>
                            </tr>
                        </thead>
                        <tbody id="tBody">
                        </tbody>
                    </table>
                </div>
                <div id="personIdHide" style="visibility:hidden;"></div>
                <h3 class="mt-5">İletişim Bilgisi ekle</h3>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" class="form-control" id="phoneNum" placeholder="Telefon numarasını giriniz.." name="email">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="mail" placeholder="Mail adresini giriniz.." name="pwd">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="addresss" placeholder="Adresi giriniz.." name="pwd">
                        </div>
                        <button class="btn btn-default" onclick="AddContact()">Kaydet</button>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary reloadContact" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>




<!-- Modal -->
<div class="modal fade" id="addPersonModal" tabindex="-1" role="dialog" aria-labelledby="addPersonModalLaber" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Kişi Kaydet</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" id="addName" placeholder="Adını Giriniz..">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="addSurname" placeholder="Soyadını Giriniz..">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="addCompanyname" placeholder="Firma Adını Giriniz..">
                            </div>
                            <button class="btn btn-default" onclick="AddPerson()">Kaydet</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>



