<div class="container">

    <div class="row">
        <div class="col-md-5" id="phoneImage">
            <img src="~/images/phone-book.png" class="w-100" />
        </div>
        <div class="col-md-7">
            <table id="tablo" class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th>İsim</th>
                        <th>Soyisim</th>
                        <th>Firma Adı</th>
                        <th>İncele</th>
                        <th>Sil</th>
                    </tr>
                </thead>
                <tbody id="tBody">
                </tbody>
            </table>
        </div>
    </div>
</div>
<i class="fas fa-eye"></i>




