<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="locationCount"></div>
            <div id="personCount"></div>
            <div id="pName"></div>
           
        </div>
    </div>
    <div class="row">
        <div class="col-md-5" id="phoneImage">
            <img src="~/images/phone-book.png" class="w-100" />
        </div>
        <div class="col-md-7" id="tableDivision">
            <div class="col-md-12 text-right" id="addPersonButtonDivision">
                <button type="button" class="btn btn-success mb-3" data-toggle="modal" data-target="#addPersonModal">
                    <i class="fas fa-user-plus mr-1"></i> Kişi Ekle
                </button>
            </div>
            <table id="tablePerson" class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th>İsim</th>
                        <th>Soyisim</th>
                        <th>Firma Adı</th>
                        <th>İncele</th>
                        <th>Sil</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>





<!-- Modal -->
<div class="modal fade" id="ViewContactModal" tabindex="-1" role="dialog" aria-labelledby="ViewContactModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary text-light">
                <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-address-card mr-2"></i>İletişim Bilgileri</h5>
                <button type="button" class="close reloadContact text-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="tableContact" class="table table-hover">
                        <thead>
                            <tr>
                                <th>Adı</th>
                                <th>Telefon Numarası</th>
                                <th>Mail</th>
                                <th>Adres</th>
                                <th>Sil</th>
                            </tr>
                        </thead>
                        <tbody id="tBody">
                        </tbody>
                    </table>
                </div>
                <div id="personIdHide" style="visibility:hidden;"></div>
                <h3 class="mt-5">İletişim Bilgisi ekle</h3>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" class="form-control" id="phoneNum" placeholder="Telefon numarasını giriniz.." name="email">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="mail" placeholder="Mail adresini giriniz.." name="pwd">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="addresss" placeholder="Adresi giriniz.." name="pwd">
                        </div>
                        <button class="btn btn-default" onclick="AddContact()">Kaydet</button>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary reloadContact" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>




<!-- Modal -->
<div class="modal modal-center fade" id="addPersonModal" tabindex="-1" role="dialog" aria-labelledby="addPersonModalLaber" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <h5 class="modal-title text-light"> <i class="fas fa-user-plus mr-2"></i>Kişi Ekle</h5>
                <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" id="addName" placeholder="Adını Giriniz..">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="addSurname" placeholder="Soyadını Giriniz..">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="addCompanyname" placeholder="Firma Adını Giriniz..">
                            </div>
                            <button class="btn btn-default" onclick="AddPerson()">Kaydet</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>



